/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Admin Stylesheet

******************************************************************/
#edittag {
  max-width: none !important; }

.hidden, .js .closed .inside, .js .hide-if-js, .js .wp-core-ui .hide-if-js, .js.wp-core-ui .hide-if-js, .no-js .hide-if-no-js, .no-js .wp-core-ui .hide-if-no-js, .no-js.wp-core-ui .hide-if-no-js {
  display: block !important; }
