/******************************************************************
Site Name: Honey
Author: Vic Lobins

Stylesheet: Admin Stylesheet

******************************************************************/
#edittag {
  max-width: none !important; }
